table, th, td {
    border: 1px solid black;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 80%;
    align-content: center;
    alignment-baseline: central;
    text-align: center;
}
th, td {
    padding: 5px;
}
th{
	font-weight: bold;
	font-style: italic;
	color: blue;
}
button{
	margin-left: 130px;
	margin-top: 10px;
}
